@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  --box-shadow-camadas: 5px 5px 0px 0px #289fed, 10px 10px 0px 0px #5fb8ff,
    15px 15px 0px 0px #a1d8ff, 20px 20px 0px 0px #cae6ff,
    25px 25px 0px 0px #e1eeff, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

body {
  overflow-wrap: anywhere;
}

::-webkit-scrollbar {
  width: 9px;
  background-color: rgb(202, 198, 198);
}
::-webkit-scrollbar-thumb {
  height: 10px;
  background-color: rgb(148, 146, 146);
}

div#page-landing-presentation {
  display: flex;
  justify-content: space-evenly;
}

div.image-container img {
  max-width: 100%;
}

div#acess-content {
  display: flex;
  justify-content: center;
}

div#presentation {
  display: flex;
  align-items: center;
  text-align: center;
}

div#presentation .container h1 {
  background: linear-gradient(
    90deg,
    rgb(202, 67, 4) 0%,
    36.4865%,
    rgb(255, 169, 129) 72.973%,
    86.4865%,
    rgb(255, 255, 240) 100%
  );
  cursor: default;

  color: white;
  text-align: left;
  margin-bottom: 30px;
}

@media (max-width: 600px) {
  div#page-landing-presentation {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }

  div#presentation .container h1 {
    display: none;
  }
}
