<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/public/css/acess-content/acess-content.css">
    <link rel="stylesheet" href="/public/css/acess-content/carrossel-videos.css">

    <title>Materiais - Share2Learn</title>
</head>
<body>
    <header>
        <div class="container">
            <h1>Share2Learn</h1>
        </div>
        
        <div id="assuntos">
            <nav>
                <a>Programação</a>
                <a>Finanças</a>
            </nav>
        </div>
    </header>

    <div id="videos">
        <div id="video-1" class="carrossel-video">
            <iframe width="950" height="534" src="https://www.youtube.com/embed/92RkvBuIcts" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <p>Criando Google login com HTML e JS - #Root 29</p>
        </div>

        <div id="video-1" class="carrossel-video">
            <iframe width="950" height="534" src="https://www.youtube.com/embed/LA2L4OsYrY0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <p>Como melhorar minha lógica de programação? | #Root 28</p>
        </div>
       
    </div>
</body>
</html>