<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/page-landing/hover_effect.css"> 
    <title>Document</title>
</head>
<body>

    <div id="acess-content">

        <div class="card" id="materials">
            <div class="circle"></div>
            <div class="content">
                <h2>Wojack </h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, ratione id, tempora possimus nobis quis rem veritatis adipisci</p>
                <a href="#">acessar</a>
            </div>
            <img src="/public/images/page-landing/materials-icon.svg" alt="get materials">
        </div>
    
        <div class="card" id="videos">
            <div class="circle"></div>
            <div class="content">
                <h2>Wojack </h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, ratione id, tempora possimus nobis quis rem veritatis adipisci</p>
                <a href="#">acessar</a>
            </div>
            <img src="/public/images/page-landing/videos-icon.svg" alt="get videos">
        </div>
    </div>
    
</body>
</html>