<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/public/css/page-landing/page-landing.css" />
    <link rel="stylesheet" href="/public/css/page-landing/hover_effect.css" />

    <title>Share2Learn</title>
  </head>
  <body>
    <header></header>
    <div id="page-landing-presentation">
      <div id="presentation">
        <div class="container">
          <h1>Share2Learn</h1>
          <h2>Leve e Entregue Conhecimento ao Mundo</h2>
          <p>Acesse e disponibilize artigos, ebooks, vídeos e muito mais!</p>
          <h5>#rocketseat+educacao</h5>
        </div>
      </div>

      <div class="image-container">
        <img
          src="/public/images/page-landing/black-board.svg"
          alt="Undraw image"
          draggable="false"
        />
      </div>
    </div>

    <div id="acess-content">
      <div class="card" id="materials">
        <div class="circle"></div>
        <div class="content">
          <h2>Wojack</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, ratione
            id, tempora possimus nobis quis rem veritatis adipisci
          </p>
          <a href="#">acessar</a>
        </div>
        <img
          src="/public/images/page-landing/materials-icon.svg"
          alt="get materials"
        />
      </div>

      <div class="card" id="videos">
        <div class="circle"></div>
        <div class="content">
          <h2>Wojack</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, ratione
            id, tempora possimus nobis quis rem veritatis adipisci
          </p>
          <a href="#">acessar</a>
        </div>
        <img
          src="/public/images/page-landing/videos-icon.svg"
          alt="get videos"
        />
      </div>
    </div>

    <footer>feito com ::heart por Wendel</footer>

    <script src="/public/scripts/hover_effect.js"></script>
  </body>
</html>
