<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/public/css/page-landing/page-landing.css" />
    <link rel="stylesheet" href="/public/css/page-landing/hover_effect.css" />
    <link rel="stylesheet" href="/public/css/page-landing/footer.css">

    <title>Share2Learn</title>
  </head>
  <body>
    <div id="page-landing-presentation">
      <div id="presentation">
        <div class="container">
          <h1>Share2Learn</h1>
          <h2>Leve e Entregue Conhecimento ao Mundo</h2>
          <p>Acesse e disponibilize artigos, ebooks, vídeos e muito mais!</p>
          <h5>#rocketseat+educacao</h5>
        </div>
      </div>

      <div class="image-container">
        <img
          src="/public/images/page-landing/black-board.svg"
          alt="Undraw image"
          draggable="false"
        />
      </div>
    </div>

    <div id="acess-content">
      <div class="card" id="materials">
        <div class="circle"></div>
        <div class="content">
          <h2>Materiais</h2>
          <p>
            Tenha acesso gratuito a Vídeo-aulas, Ebooks, PDFs e muito mais!
          </p>
          <a href="/source/views/acess-content.html">acessar</a>
        </div>
        <img
          src="/public/images/page-landing/materials-icon.svg" draggable="false"
          alt="get materials"
        />
      </div>

      <div class="card" id="info">
        <div class="circle"></div>
        <div class="content">
          <h2>Sobre</h2>
          <p>
                Projeto desenvolvido para democratizar os estudos daqueles que não possuem acesso a educação de qualidade no mundo online. 
          </p>
        </div>
        <img
          src="/public/images/page-landing/info_white_48dp.svg"
          alt="info" draggable="false"
        />
      </div>
    </div>

    <footer>
        <div class="container">
            <div class="grid image-grid">
                <div class="grid-block">
                    <div class="tile">
                        <div class="tile-link">
                            <div class="tile-img tile-img">
                              <h3>Feito</h3>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="grid-block">
                    <div class="tile">
                        <div class="tile-link">
                            <div class="tile-img tile-img">
                              <h3>De</h3>      
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="grid-block">
                    <div class="tile">
                        <div class="tile-link">
                            <div class="tile-img tile-img">
                                <h3>💖</h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid-block">
                    <div class="tile">
                        <div class="tile-link">
                            <div class="tile-img tile-img">
                                <h3>Por</h3>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="grid-block">
                    <div class="tile">
                        <div class="tile-link">
                            <div class="tile-img tile-img">
                                <h3>Thales Wendel</h3>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>

        <div id="disclaimer"><h6>---Hover here---</h6></div>
    </footer>
    <script src="/public/scripts/hover_effect.js"></script>
  </body>
</html>
