@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    overflow-wrap: anywhere;
    overflow-x: hidden;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;

    gap: 10vw;
    padding: 30px;
    border-bottom: 1px solid #e5e5e5;
}


header div.container {
    width: 300px;
}

header div.container h1 {
    background: linear-gradient(90deg, rgb(202, 67, 4) 0%, 36.4865%, rgb(255, 169, 129) 72.973%, 86.4865%, rgb(255, 255, 240) 100%);
    cursor: default;

    color: white;
    text-align:left;
    font-family: 'Inter', sans-serif;
}

header div#assuntos nav {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

header div#assuntos a {
    cursor: pointer;
    font-weight: bold;

    transition: 0.3s;
}

header div#assuntos a:hover {
    color: coral;
}

main {
    transition: 0.3s;
}

#topic-trending {
    display: flex;
    align-items: center;
    
    font-weight: bold;
    font-size: 16px;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.show {
    visibility: visible;
    opacity: 1;
}

div#onda-lateral {
    position: fixed;

    /* top: 60%;
    left: 70%;
    transform: rotate(299deg); */

    /* OU  */

    top: 65vh;
    left: 73vw;
    transform: rotate(296deg);
   

    width: 1000px;
    height: 700px;
    background: url("/public/images/acess-content/onda-lateral.svg");
    background-repeat: no-repeat;
    background-size: contain;
}