#videos {
    display: flex;
    gap: 24px;
    
    padding: 50px;
    margin-bottom: 16px;
}

.carrossel-video {
    width: 400px;
    height: 200px;

    font-family: 'Inter', sans-serif;
}

.carrossel-video p {
    font-size: 14px;
}

iframe {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}